# .gitignore

__pycache__/
Localization2025/myenv/
Localization2025/data/probe_request_results_clustered.json
Localization2025/data/probe_request_results_clustered.json.bak
Localization2025/data/probe_request_results.json
Localization2025/data/probe_request_results.json.bak
Localization2025/data/feature_data.json
Localization2025/data/devices.json

